<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cst2335">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:minSdkVersion="8"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".hung.NewsFeedSavedArticles"></activity>
        <activity android:name=".queeny.FlightPhoneFragmentActivity" />
        <activity android:name=".hung.NewsFeedDetailed3" />
        <activity android:name=".hung.NewsFeedDetailed2" />
        <activity android:name=".hung.NewsFeedDetailed" />
        <activity android:name=".hung.NewsFeedSearches" />
        <activity android:name=".queeny.FlightSavedActivity" />
        <activity android:name=".queeny.FlightDetailsActivity" />
        <activity android:name=".ryan.MainActivityDictionary" />
        <activity android:name=".ryan.EmptyFragmentActivity" />
        <activity android:name=".ryan.ViewSavedWordsActivity" />
        <activity android:name=".ryan.WordsDetailsActivity" />
        <activity android:name=".queeny.MainActivityFlightStatusTracker" />
        <activity android:name=".kevin.MainActivityNewYorkTimes" />
        <activity android:name=".kevin.NytSearchedActivity" />
        <activity android:name=".kevin.ArticleActivity1" />
        <activity android:name=".kevin.NytApiSearch" />
        <activity android:name=".hung.MainActivityNewsFeed" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.cst2335.com/rockandroid” -->
                <data
                    android:host="www.cst2335.com"
                    android:pathPrefix="/rockandroid"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "cst2335://rockandroid” -->
                <data
                    android:host="rockandroid"
                    android:scheme="cst2335" />
            </intent-filter>
        </activity>
    </application>

</manifest>